{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/funcionario.css') }}">
{% endblock %}

{% block title %}Funcionários do Estabelecimento{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Funcionários do Estabelecimento</h1>
    
    <div class="list-group">
        {% for funcionario in funcionarios %}
            <div class="list-group-item">
                <h5>{{ funcionario.pro_nome }}</h5>
                <p class="mb-1">Telefone: {{ funcionario.pro_telefone }}</p>
            </div>
        {% else %}
            <div class="alert alert-info">Nenhum funcionário cadastrado.</div>
        {% endfor %}
    </div>

    <div class="container-links">
        <a href="{{ url_for('servico.adicionar_funcionario', est_id=est_id) }}" class="btn-acao">Cadastrar Funcionário</a>

        <a href="{{ url_for('estabelecimento.perfil_estabelecimento', est_id=est_id) }}" 
            class="btn btn-secondary mt-3">Voltar</a>
    </div>
    
</div>
{% endblock %}
