main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  height: 90%;
  display: flex;
  box-shadow: 0 0 5px 1px black;
}

.container .form,
.container .redirect {
  flex-grow: 1;
  flex-basis: 50%;
}

.container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.form form {
  max-height: 90%;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  gap: 13px;
}

.form .termos {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
}

.termos input {
  max-width: 15px;
}

.termos label {
  font-size: 0.8rem;
}

.form input {
  width: 100%;
  border-radius: 40px;
  padding: 10px 10px;
  background-color: rgb(211, 211, 211);
  border-style: none;
}

.form button {
  width: 100%;
  border-radius: 40px;
  padding: 10px 20px;
  border-style: none;
  background: rgb(140, 39, 30);
  background: linear-gradient(
    0deg,
    rgba(140, 39, 30, 1) 34%,
    rgba(240, 29, 10, 1) 100%
  );
  color: white;
}

button:hover {
  cursor: pointer;
  font-size: 1.2rem;
}

a:hover {
  font-size: 1.1rem;
}

.form a {
  text-decoration: none;
  color: black;
}

#label-login {
  align-self: flex-start;
}

.container .redirect {
  background: rgb(140, 39, 30);
  background: linear-gradient(
    0deg,
    rgba(140, 39, 30, 1) 34%,
    rgba(240, 29, 10, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
}

.container .redirect button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 40px;
  color: white;
  padding: 10px 20px;
}

.redirect a {
  text-decoration: none;
  color: white;
}


.select-servico {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.select-servico select {
  display: flex;
  width: 100%;
  border-radius: 40px;
  padding: 10px 15px;
  background-color: rgb(211, 211, 211);
  border-style: none;
}

input[type="checkbox"] {
  accent-color: #74992e;
}