{% extends "base_notlogged.html" %}

{% block links %}
<link rel="stylesheet" href="../../../static/styles/auth/login.css">
{% endblock %}


{% block content %}

<main>
    <div class="container">
        <div class="form">
            <h2>Entrar</h2>
            <form action="">
                <label for="" id="label-login">Email</label>
                <input type="email" placeholder="Email">
                <label for="" id="label-login">Senha</label>
                <input type="password" placeholder="Senha">
                <button>Entrar</button>
            </form>
            <a href="">Esqueceu sua senha?</a>
        </div>
        <div class="redirect">
            <h2>Bem vindo ao login</h2>
            <p>Não tem uma conta?</p>
            <button><a href="">Registra-se</a></button>
        </div>
    </div>
</main>

{% endblock %}