{% extends "base_notlogged.html" %} {% block links %}
<link rel="stylesheet" href="../../../static/styles/auth/register.css" />
{% endblock %} {% block content %}

<main>
  <div class="container">
    <div class="form">
      <h2>Registrar</h2>
      <form action="">
        <label for="" id="label-login">Nome</label>
        <input type="text" placeholder="Nome" />
        <label for="" id="label-login">Email</label>
        <input type="email" placeholder="Email" />
        <label for="" id="label-login">CPF</label>
        <input type="text" placeholder="CPF" />
        <label for="" id="label-login">Telefone</label>
        <input type="text" placeholder="Telefone" />
        <label for="" id="label-login">Senha</label>
        <input type="password" placeholder="Senha" />
        <div class="termos">
          <label for="" id="label-login">Eu li e concordo com os termos de uso</label>
          <input type="radio" />
        </div>
        <button>Avançar</button>
      </form>
    </div>
    <div class="redirect">
      <h2>Bem vindo ao register</h2>
      <p>Já tem uma conta?</p>
      <button><a href="">Entrar</a></button>
    </div>
  </div>
</main>

{% endblock %}