<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Estabelecimento</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Cadastro de Estabelecimento</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('estabelecimento.cadastrar_estabelecimento') }}">
            <div class="form-group">
                <label for="est_nome">Nome do Estabelecimento:</label>
                <input type="text" class="form-control" id="est_nome" name="est_nome" required>
            </div>
            <div class="form-group">
                <label for="est_descricao">Descrição:</label>
                <input type="text" class="form-control" id="est_descricao" name="est_descricao" required>
            </div>
            <div class="form-group">
                <label for="est_cnpj">CNPJ:</label>
                <input type="text" class="form-control" id="est_cnpj" name="est_cnpj" required>
            </div>
            <div class="form-group">
                <label for="est_email">Email:</label>
                <input type="email" class="form-control" id="est_email" name="est_email" required>
            </div>
            <div class="form-group">
                <label for="est_telefone">Telefone:</label>
                <input type="text" class="form-control" id="est_telefone" name="est_telefone" required>
            </div>
            <!-- <div class="form-group">
                <label for="est_cat_id">Categoria:</label>
                <select class="form-control" id="est_cat_id" name="est_cat_id" required>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.cat_id }}">{{ categoria.cat_nome }}</option>
                    {% endfor %}
                </select> -->
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>