{% extends "base.html" %} {% block links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/dentro_estabelecimento.css') }}"
/>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search"
/>
{% endblock %} {% block content %}

<div class="container-fluid">
  <div class="banner position-relative">
    <div class="circle"></div>
    <h1 class="text-center mt-2">{{ estabelecimento.est_nome }}</h1> <!--Nome do estabelecimento-->
  </div>

  <div class="container mt-4">
    <div id="services">
      <h3 class="text-center mb-3">Tipos de Cortes</h3>

      {% for corte in cortes %}
      <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
          <div class="service-card d-flex">
            <div>
              <h5>{{ corte.ser_nome }}</h5>
              <p>Valor: R$ {{ corte.ser_preco }}</p> 
            </div>
            <div>
              <p class="me-3 mb-0">Avaliação</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Área exclusiva para o profissional adicionar serviços -->
    <div id="barber-section" class="mt-4">
      <h3 class="text-center mb-3">Adicionar Novo Corte</h3>
      <form id="add-service-form" action="{{ url_for('estabelecimento.adicionar_servico') }}" method="POST"
        class="row g-3">
        <div class="col-md-4 offset-md-3">
          <input type="text" class="form-control" name="servico_nome" placeholder="Nome do Corte" required>
        </div>
        <div class="col-md-2">
          <input type="number" class="form-control" name="servico_preco" placeholder="Preço" required>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary w-100">Adicionar</button>
        </div>
      </form>
    </div>
  </div>


  {% endblock %}