
{% extends "base.html" %}

{% block content %}


<div class="container mt-4">
    <form method="GET" action="{{ url_for('estabelecimento.resu_estabelecimento') }}" class="row mb-3">
        <div class="col-md-6 mx-auto d-flex">
            <input type="text" name="nome" class="form-control" placeholder="Pesquisar estabelecimento..."
                value="{{ nome_filtro }}">
            <button type="submit" class="btn btn-primary ms-2">Buscar</button>
        </div>
    </form>

    <div class="row">
        <div class="col-md-8">
            <div id="estabelecimentos">
                {% for estabelecimento in dados %}
                <div class="card-estabelecimento mb-3 p-3 border rounded">
                    <h5 class="estabelecimento-nome">{{ estabelecimento.est_nome }}</h5>
                    <p><strong>Descrição:</strong> {{ estabelecimento.est_descricao }}</p>
                    <p><strong>Endereço:</strong>
                        {{ estabelecimento.end_rua }}, {{ estabelecimento.end_numero }} -
                        {{ estabelecimento.end_bairro }}, {{ estabelecimento.end_cidade }}/{{ estabelecimento.end_estado
                        }}
                    </p>
                    <p><strong>Contato:</strong> {{ estabelecimento.est_email }} | {{ estabelecimento.est_telefone }}
                    </p>
                    <div class="d-flex">
                        <button class="btn btn-danger me-2">Favoritar</button>
                        <a href="{{ url_for('agendar') }}" class="btn btn-success">Agendar</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="map-container bg-dark text-white d-flex justify-content-center align-items-center"
            style="height: 300px;">
            API do Maps
        </div>
    </div>
</div>
</div>

{% endblock %}