{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/selecionar_servico.css') }}">
{% endblock %}

{% block content %}
<main class="container">
  <section class="estabelecimento-header">
    {% if imagem_base64 %}
    <img src="data:image/jpeg;base64,{{ imagem_base64 }}" 
         alt="{{ est_nome }}" 
         class="estabelecimento-logo">
    {% else %}
    <img src="{{ url_for('static', filename='imgs/default-establishment.jpg') }}" 
         alt="Imagem padrão" 
         class="estabelecimento-logo">
    {% endif %}
    
    <div class="estabelecimento-info">
      <h1>{{ est_nome }}</h1>
      {% if est_descricao %}
      <p class="estabelecimento-descricao">{{ est_descricao }}</p>
      {% endif %}
      <div class="rating">
        <!-- Sistema de avaliação -->
        {% for i in range(5) %}
        <span class="star">★</span>
        {% endfor %}
        <span class="rating-text">4.8 (128 avaliações)</span>
      </div>
      {% if is_dono %}
        <div class="acoes-dono">
          <a href="{{ url_for('servico.adicionar_servico', est_id=est_id) }}" class="btn-acao">Cadastrar Serviço</a>
          <a href="{{ url_for('estabelecimento.editar_estabelecimento')}}" class="btn-acao">Editar Estabelecimento</a>
          <a href="{{ url_for('servico.listar_funcionarios', est_id=est_id) }}" class="btn-acao">Cadastrar Funcionário</a>

        </div>
      {% endif %}
    </div>
  </section>
  {% if servicos %}
  <section class="servicos-list">
    <h2>Serviços Disponíveis</h2>
    
    {% for servico in servicos %}
    <div class="servico-card">
      <div class="servico-info">
        <h3>{{ servico.ser_nome }}</h3>
        <p class="servico-preco">R$ {{ "%.2f"|format(servico.ser_preco) }}</p>
        <p class="servico-duracao">{{ servico.ser_duracao }} minutos</p>
        
      </div>
      <div class="servico-actions">
        <a href="{{ url_for('agendamento.agendar', ser_id=servico.ser_id, data=data) }}" 
           class="btn-agendar">
          Agendar
        </a>
      </div>
    </div>
    {% endfor %}
  </section>
  {% endif %}
</main>
{% endblock %}