{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/selecionar_servico.css') }}" />
{% endblock %}

{% block content %}
<main>
  <div class="estabelecimento">
    {% if servicos %}
    <img src="{{ url_for('static', filename='imgs/logo.jpg') }}" alt="" />
    <h1>{{ servicos[0].est_nome }}</h1>
    <div class="rating">
      <input type="radio" />
      <input type="radio" />
      <input type="radio" />
      <input type="radio" />
      <input type="radio" />
    </div>
    {% else %}
      <p>{{ mensagem }}</p>
    {% endif %}
  </div>

  <div class="servicos">
    {% for servico in servicos %}
    <div class="servico">
      <div class="corte">
        <h3>{{ servico.ser_nome }}</h3>
        <p>Valor: {{ servico.ser_preco }} R$</p>
      </div>
      <div class="rating">
        <input type="radio" />
        <input type="radio" />
        <input type="radio" />
        <input type="radio" />
        <input type="radio" />
      </div>
      <button><a href="{{ url_for('estabelecimento.agendar', ser_id=servico.ser_id, data=data) }}">Agendar</a></button>

    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
