{% extends "base_notlogged.html" %} {% block links %}
<link rel="stylesheet" href="../../../static/styles/auth/register.css" />
{% endblock %} {% block content %}

<main>
  <div class="container">
    <div class="form">
      <h2>Registrar</h2>
      <form action="{{ url_for('auth.register') }}" method="POST">
        <label for="register-nome" id="label-login">Nome</label>
        <input type="text" name="nome" id="register-nome" placeholder="Nome" required />
        <label for="register-email" id="label-login">Email</label>
        <input type="email" name="email" id="register-email" placeholder="Email" required />
        <label for="register-cpf" id="label-login">CPF</label>
        <input type="text" name="cpf" id="register-cpf"   required   maxlength="11" pattern="\d{11}" title="Digite 11 números para o CPF"placeholder="CPF" />

        <label for="register-telefone" id="label-login">Telefone</label>
        <input type="text" name="telefone" id="register-telefone" placeholder="Telefone" required maxlength="15" pattern="\d{15}"
        title="Digite um telefone válido com 10 ou 11 dígitos"/>

        <label for="register-senha" id="label-login">Senha</label>
        <input type="password" name="password" id="register-senha" placeholder="Senha" required />
        <div class="select-servico">
          <select name="tipo_usuario" id="tipo_usuario" required>
            <option value="" disabled selected>Selecione um serviço</option>
            <option value="cliente">Sou Cliente</option>
            <option value="profissional">Sou um Profissional</option>
          </select>          
        </div>
        <div class="termos">
          <label for="register-termos" id="label-login">
            Eu li e concordo com os termos de uso
          </label>
          <input type="checkbox" id="register-termos" name="termos" required />
        </div>        
        <button>Avançar</button>
      </form>
    </div>
    <div class="redirect">
      <h2>Bem vindo ao register</h2>
      <p>Já tem uma conta?</p>
      <a href="{{ url_for('auth.login') }}"><button type="submit">Entrar</button></a>
    </div>
  </div>
</main>

{% endblock %}
