{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/perfil.css') }}">
{% endblock %}

{% block content %}
<body>
    <div class="container">
        {% if user %}
        <div class="perfil_usuario">
            <h1>{{ user.pro_nome }}</h1>
            <h3>{{ user.pro_email }}</h3>
            <h4>{{ user.pro_telefone }}</h4>
            <button>
                <a href="{{ url_for('profissional.editar_perfil') }}">
                    Editar Perfil
                </a>
            </button>
        </div>
        {% endif %}

        <div class="estabelecimentos">
            <h2>Seus Estabelecimentos</h2>
            {% if estabelecimentos %}
            <ul>
                {% for estabelecimento in estabelecimentos %}
                <li>
                    <strong>{{ estabelecimento['est_nome'] }}</strong><br>
                    <p>{{ estabelecimento['est_descricao'] }}</p>
                    <a href="{{ url_for('estabelecimento.perfil_estabelecimento', est_id=estabelecimento.est_id) }}">
                        Ver Detalhes
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Você ainda não possui estabelecimentos cadastrados.</p>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}
