{% extends "base.html" %} {% block links %}
<link rel="stylesheet" href="../../../static/styles/agendar.css" />
{% endblock %} {% block content %}
<main>
  <div class="cabecalho">
    <h1>Agendamento de Horários</h1>
    <p>Confira os horários disponíveis abaixo e garanta seu atendimento.</p>
  </div>
  <div class="informacoes">
    <form action="">
      <label for="informacoes-data">Selecione o dia:</label>
      <input type="date" id="informacoes-data" required />
      <button type="submit" class="informacoes-button">Verificar</button>
    </form>
  </div>
  <div class="horarios">
    <ul>
      <li class="tabela-header">
        <span class="horario">Horário</span>
        <span class="status">Status</span>
        <span class="cliente">Cliente</span>
        <span class="acao">Ação</span>
      </li>
      <li>
        <span class="horario">14:00</span>
        <span class="status disponivel">Disponível</span>
        <span class="cliente">João Silva</span>
        <span class="acao"><button>Confirmar</button></span>
      </li>
      <li>
        <span class="horario">15:00</span>
        <span class="status indisponivel">Indisponível</span>
        <span class="cliente">Maria Souza</span>
        <span class="acao"><button disabled>Confirmar</button></span>
      </li>
    </ul>
  </div>
</main>
{% endblock %}
