<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Esteticando</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base_notlogged.css') }}" />

    <link
      rel="shortcut icon"
      href="../static/imgs/favicon.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Comfortaa:wght@300..700&display=swap"
      rel="stylesheet"
    />
    {% block links %} {% endblock %}
  </head>
  <body>
    <header class="navbar">
      <menu>
        <img src="{{ url_for('static', filename='imgs/favicon.png') }}" alt="logo barbearia" id="img-navbar" />
        <a href="{{url_for('estabelecimento.cadastrar_estabelecimento')}}">cadastrar</a>
        <a href="{{ url_for('estabelecimento.filtrar_estabelecimento') }}">Página Inicial</a>
        <a href="{{url_for('estabelecimento.editar_estabelecimento')}}">editar</a>
        <a href="{{ url_for('estabelecimento.filtrar_estabelecimento') }}">Serviços</a>
        <a href="#">Contato</a>
        {% if current_user.is_authenticated %}
        <div id="btn-navbar">
          <a href="{{ url_for('auth.logout') }}"><button class="btn-navbar">Sair</button></a>
        </div>
        {% endif %}
      </menu>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>