{% extends "base.html" %} {% block links %}
<link
  rel="stylesheet"
  href="../../../static/styles/confirmar_agendamento.css"
/>
{% endblock %} {% block content %}
<main>
  <div class="cabecalho">
    <h1>Confirmar Horário</h1>
    <p>Confirme seus agendamentos e notifique seus clientes</p>
  </div>
  <div class="informacoes">
    <img src="/static/imgs/logo.jpg" alt="Logo" />
    <div class="informacoes-corte">
      <h3>Nome do corte</h3>
      <p>Valor do corte</p>
    </div>
  </div>
  <div class="horarios">
    <ul>
      <li class="tabela-header">
        <span class="horario">Horários</span>
        <span class="cliente">Clientes Agendados</span>
        <span class="confirmar">Confirmar Agendamento</span>
      </li>
      <li>
        <span class="horario">14:00</span>
        <span class="cliente">João Silva</span>
        <span class="confirmar"><button>Confirmar</button></span>
      </li>
      <li>
        <span class="horario">15:00</span>
        <span class="cliente">Maria Souza</span>
        <span class="confirmar"><button>Confirmar</button></span>
      </li>
    </ul>
  </div>
</main>
{% endblock %}
