{% extends "base_notlogged.html" %}

{% block links %}
<link rel="stylesheet" href="../static/styles/base_notlogged.css">
<link rel="stylesheet" href="../static/styles/dashboard.css">
{% endblock %}

{% block content %}

<div class="bg-image d-flex justify-content-center align-items-center text-center">
    <div>
        <h1>Bem-vindo à nossa Plataforma</h1>
        <p>Facilitando agendamentos e localização de serviços</p>
        <a href="{{url_for('auth.register')}}">
            <button class="btn btn-primary color fw-bold">Comece Agora</button>
        </a>
    </div>
</div>


{% endblock %}
