{% extends "base.html" %} {% block links %}
<link rel="stylesheet" href="../../../static/styles/gerenciar_perfil.css" />
{% endblock%} {% block content %}

<main>
  <div class="container">
    <div class="opcoes">
      <div class="cabecalho">
        <img src="/static/imgs/logo.jpg" alt="" />
        <p>Neymar dos Santos Silva Junior</p>
      </div>
      <div class="selecoes">
        <h4>Perfil</h4>
        <h4>Foto</h4>
        <h4>Encerrar conta</h4>
      </div>
    </div>
    <div class="edicao">
      <div class="cabecalho">
        <h1>Perfil</h1>
        <p>Adicione informações sobre você</p>
      </div>
      <div class="dados">
        <h3>Dados básicos:</h3>
        <form action="">
          <input type="text" name="" id="" placeholder="Nome" />
          <input
            type="text"
            name=""
            id=""
            placeholder="Telefone - (xx) xxxxx-xxxx"
          />
          <input type="text" name="" id="" placeholder="Email" />
          <button type="submit">Salvar</button>
        </form>
      </div>
      <div class="redefinir">
        <h3>Quer redefinir sua senha?</h3>
        <button type="button">Redefinir senha</button>
      </div>
    </div>
  </div>
</main>

{% endblock %}
