{% extends "base_notlogged.html" %} {% block links %}
<link rel="stylesheet" href="../static/styles/base_notlogged.css" />
<link rel="stylesheet" href="../static/styles/index.css" />
{% endblock %} {% block content %}

<main>
  <div class="main-content">
    <h1>Bem-vindo à nossa Plataforma</h1>
    <p>
      Conectamos você aos melhores profissionais da beleza, garantindo
      agendamentos rápidos e uma experiência sem complicações. Encontre
      especialistas de confiança, visualize avaliações e marque seu horário com
      poucos cliques.
    </p>
  </div>
  <div class="main-img">
    <img src="../static/imgs/index.png" alt="imagem do barbeiro" />
  </div>
</main>

{% endblock %}
